body {
    background-color: #eee;
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

.card {
    width: 200px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: auto;
}

.card img {
    width: 100%;
    height: auto;
}

.price {
    color: green;
    font-weight: bold;
}

button {
    background: green;
    color: white;
    border:none;
    padding: 6px 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}
